.close-button {
  color: #fc8f9b !important;
  align-content: left;
}
.close-link {
  display: flex;
  justify-content: flex-end;
}

.popContainer {
  display: flex;
  flex-direction: row;
  height: 85vh;
}
.popImageItem {
  width: 100%;
  height: 102%;
}
.popImage {
  width: 50%;
}
.popInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.popInfoDetails {
  margin: 25px;
  display: flex;
  flex-direction: column;
}
.info-text {
  font-size: 23px;
  padding-left: 15px;
  padding-right: 15px;
  margin: -3px;
}
.infoDetail {
  display: flex;
  margin: -8px;
}
.infoDetailVet {
  display: flex;
  flex-direction: column;
  margin: -8px;
}

.popButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  margin-top: 50px;
}
.cancelpop,
.searchpop {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 25px;

  margin-bottom: 20px;
}
.cancelpop {
  background-color: #7e7e7e;
  padding: 10px 85px;
}
.searchpop {
  background-color: #fc8f9b;
  padding: 10px 115px;
}

.cancelpop,
.searchpop:focus {
  outline: none !important;
}

.infoDetailPrice {
  display: flex;
  flex-direction: row;
  margin: -8px;
}

.info-text-price {
  font-size: 45px;
  padding-left: 25px;
  padding-right: 25px;
  margin: -10px;
}

.infoDivPrice {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  padding-top: 90px;
}
.pdvDiv {
  font-size: 20px;
  margin: -10px;
}
.pdvContainer {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  margin-left: 10px;
  margin-right: 10px;
}
