.articlesCards {
  margin: 10px;
}

.card-article {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.card-image-article {
  min-height: 280px;
  max-height: 281px;
  max-width: 300px;
}

.card-text-article {
  max-height: 120px;
}

.text-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-button {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.article-smalltext {
  padding-right: 20px;
  color: #7e7e7e;
  margin-top: 3px;
  font-size: 17px;
}
.article-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.article-button-mod {
  background-color: #fc8f9b;
  color: white;
  outline-color: #fc8f9b;
  min-height: 60px;
  max-height: 61px;
  min-width: 200px;
  margin-top: 180px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
