body {
  overflow-y: hidden;
}

.big-hero-photo {
  position: block;
  z-index: -10;
  position: relative;
}

.choose-product,
.adopt-animal {
  position: relative;
  text-align: center;
  color: white;
}

.choose-animal {
  width: 100%;
  background-color: #ffb5b5;
}

.vl {
  border-left: 4px solid white;
}
.choose-animal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-carousel {
  background-color: #fff3f4;
  overflow: hidden;
}

.arrow-carousel {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 80px;
  background-color: #fff3f4;
  color: #ffb5b5;
}

.arrow-carousel:focus {
  outline: none !important;
}

.carousel-card-image-image {
  height: 250px;
}
.price-label-carousel {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.price-carousel {
  margin-top: -25px;
  margin-bottom: -25px;
  margin-left: 20px;
  margin-right: 20px;
}
.carousel-card-info {
  height: 20px;
  padding: 5px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}
.buy-carousel {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #fc8f9b;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 8px;
}
.buy-carousel:focus {
  outline: none !important;
}
.buy-carousel:hover {
  background-color: #ffb5b5;
}

/* NEW WORKING AND RESPONSIVE CSS */

.big-hero-photo-div {
  width: 100%;
}

.big-hero-image {
  background: url("../images/big_hero3.jpg");
  width: 100%;
  height: 50vw;
  background-size: cover;
  background-position-x: 50%;
  text-align: center;
  padding: 10px;
}

.text-over-big-image {
  color: white;
  font-size: 6vw;
  font-weight: 600;
  opacity: 0;
  font-family: Roboto, sans-serif;
  transition: all 0.3s ease-in-out 0s;
}

.big-hero-photo-div:hover .text-over-big-image {
  opacity: 1;
}

.big-quote-text {
  font-size: 5vw;
  margin: 0;
}
.big-quote,
.second-quote {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.adopt-anima-image {
  background: url("../images/big_hero7.jpg");
  width: 100%;
  background-size: cover;
  background-position-x: 50%;
  text-align: center;
}

.adopt-anima-image-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.choose-product-image {
  background: url("../images/big_hero4.jpg");
  width: 100%;
  background-size: cover;
  background-position-x: 50%;
  text-align: center;
}

.achoose-product-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.over-image-text {
  color: white;
  font-size: 6vw;
  font-weight: 800;
  padding: 6vw 2vw;
  margin: 0;
}

.dog-url,
.cat-url {
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
}

.dog-url:hover,
.cat-url:hover {
  background: #df7e88;
}

.dog-icon,
.cat-icon {
  font-size: 6vw;
  color: white;
}
.dog-icon,
.cat-arrow {
  transform: scaleX(-1);
}
.button-click-arrow {
  color: white;
  font-size: 6vw;
}

.div-dog-icon,
.div-cat-icon {
  display: flex;
  justify-content: space-evenly;
}

.dog-animal,
.cat-animal {
  padding: 5vw;
}

.more-products {
  display: flex;
  justify-content: center;
  padding: 8px;
  background-color: #fc8f9b;
  transition: all 0.3s ease-in-out 0s;
}

.more-products-text {
  font-size: 4vw;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding: 10px 10px;
  margin-bottom: 10px;
  background: none;
  transition: all 0.3s ease-in-out 0s;
}

.more-products-text:focus {
  outline: none !important;
}

.more-products-text span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.more-products-text span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.more-products:hover {
  background: #df7e88;
}

.more-products-text:hover span {
  padding-right: 25px;
}

.more-products-text:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 750px) {
  .big-quote-text {
    font-size: 10vw;
  }
  .more-products-text {
    font-size: 5vw;
  }
  .button-click-arrow,
  .dog-icon,
  .cat-icon {
    font-size: 10vw;
  }
  .dog-animal,
  .cat-animal {
    padding: 10vw 5vw;
  }
  .over-image-text {
    font-size: 10vw;
    padding: 24vw 2vw;
  }
}

.second-quote {
  flex-direction: column;
}

.div-second-quote {
  width: 100%;
  display: flex;
  justify-content: center;
}

.second-quote-text {
  font-size: 5vw;
  text-align: center;
}

.author-of-quote {
  font-size: 3vw;
  margin-left: 70%;
}
