.login-container {
  display: flex;
}
.login-image {
  width: 110vh;
  height: 100vh;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 60px;
  margin: 40px;
  font-weight: 700;
}
.login-div-title {
  display: flex;
  align-items: flex-end;

  width: 100%;
}

.login-form {
  margin-left: 120px;
  margin-right: 120px;
  padding: -30px;
}

.input-login {
  width: 300px;
}

.login-form-text {
  font-size: 23px;
}
.login-form-block {
  padding: 20px;
  width: 250px;
}
