.login-container {
  display: flex;
}
.login-image {
  width: 110vh;
  height: 100vh;
}
.login-form-container {
  display: flex;
  flex-direction: column;
}
.login-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 50px;
}
.login-div-title {
  display: flex;
  justify-content: flex-end;
}
