.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 60px;
  margin: 40px;
  font-weight: 700;
}
.login-div-title {
  display: flex;
  align-items: flex-end;

  width: 100%;
}

.login-form {
  margin-left: 120px;
  margin-right: 120px;
  padding: -30px;
}

.input-login {
  width: 300px;
}

.login-form-text {
  font-size: 23px;
}
.login-form-block {
  padding: 20px;
  width: 250px;
}

.my-login-button {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 19px;
  padding: 8px 20px;
  background-color: #fc8f9b;
  border-radius: 12px;
  margin: 10px;
}
.my-login-button-exit {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 19px;
  padding: 8px 20px;
  background-color: #7e7e7e;
  border-radius: 12px;
  margin: 10px;
}

.my-login-button-exit,
.my-login-button:focus {
  outline: none !important;
}
.my-login-form {
  display: flex;
  flex-direction: column;
}
.div-login-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 55px;
}
.login-form-text {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
}
.login-form-field-mobile {
  width: 350px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.login-form-field-mobile:focus {
  width: 450px;
}
.container-remember {
  padding-top: 10px;
  padding-bottom: 10px;
}
.login-register {
  display: flex;
  flex-direction: row;
}
.login-register-button {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 17px;
  padding: 7px 65px;
  background-color: #fc8f9b;
  border-radius: 12px;
  margin: 10px;
}
.p-login {
  font-size: 1.3vw;
  margin-top: 15px;
  margin-bottom: 15px;
}
.fb-image {
  height: 40px;
  width: 50px;
  margin: 0px !important;
}
.gmail-image {
  height: 40px;
  width: 40px;
  margin: 0px !important;
}
.login-fb-button-mobile {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 17px;
  padding: 5px 60px;
  background-color: #fc8f9b;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-fb-button:focus {
  outline: none !important;
}
.login-gmail-button-mobile {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 17px;
  padding: 5px 75px;
  background-color: #fc8f9b;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-gmail-button:focus {
  outline: none !important;
}
.fb-login-text {
  color: white;
  margin: 0px !important;
}
.out-login-buttons {
  margin-left: 40px;
  margin-right: 40px;
}
.login-background-mobile {
  width: 100%;
  height: 110vh;
}

.login-background-mobile {
  background: url("../images/login_hero.jpg");
  background-size: cover;
  height: 110vh;
  display: flex;
}

.login-background-overlay-mobile {
  background: rgba(255, 143, 190, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.login-background-overlay-mobile-white {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.first-buttons {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  margin-top: 20vh;
}

.logo-image-mobile {
  height: 15vh;
}
.login-container-mobile {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.first-button {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 24px;
  padding: 8px 20px;
  background-color: #fc8f9b;
  border-radius: 12px;
  margin: 15px;
}
