/* LOGIN INACTIVE */
.login-inactive-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login-inactive-background {
  width: 100%;
}

.login-inactive-background {
  background: url("../images/login_hero.jpg");
  background-size: cover;
  height: 100%;
}

.login-inactive-background-overlay {
  background: rgba(255, 143, 190, 0.5);
  height: 100%;
  display: flex;
}

.login-inactive-elements {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  justify-content: space-around;
  text-align: center;
}

.login-inactive-buttons {
  display: flex;
  flex-direction: column;
}

.login-inactive-button-transparent {
  color: #fff;
  font-family: Arial;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 60px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 10px 5px;
  transition: all 0.3s ease-in-out 0s;
}

.login-inactive-button-transparent:hover {
  color: rgb(255, 143, 190);
  background: #fff;
}

.login-inactive-button-full {
  font-family: Arial;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 60px;
  border: 1px solid #fff;
  color: #fc8f9b;
  background: #fff;
  border-radius: 10px;
  margin: 10px 5px;
  transition: all 0.3s ease-in-out 0s;
}

.login-inactive-button-full:hover {
  background: #fc8f9b;
  color: #fff;
  border: 1px solid #fc8f9b;
}

.login-inactive-button-full-grey:hover {
  background: #7e7e7e;
  color: #fff;
  border: 1px solid #7e7e7e;
}

/* LOGIN ACTIVE */
.login-active-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login-active-background {
  width: 100%;
}

.login-active-background {
  background: url("../images/login_hero.jpg");
  background-size: cover;
  height: 100%;
}

.login-active-background-overlay {
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  display: flex;
}

.login-active-elements {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  justify-content: space-around;
  text-align: center;
}

.login-active-button {
  font-family: Arial;
  text-decoration: none;

  padding: 10px 60px;
  border: 1px solid #fc8f9b;
  color: #fff;
  background: #fc8f9b;
  border-radius: 10px;
  margin: 10px 5px;
  transition: all 0.3s ease-in-out 0s;
}

.login-active-button:hover {
  color: #ffb5b5;
  border: 1px solid #fff;
  background: #fff;
}

.login-active-button-options {
  display: flex;
  flex-direction: column;
}

.login-active-button-full i {
  margin-right: 10px;
}

.login-active-button-full {
  font-family: Arial;
  text-decoration: none;

  padding: 10px 60px;
  border: 1px solid #fc8f9b;
  color: #fff;
  background: #fc8f9b;
  border-radius: 10px;
  margin: 10px 5px;
  transition: all 0.3s ease-in-out 0s;
}

.login-active-button-full:hover {
  color: rgb(255, 143, 190);
  border: 1px solid #fff;
  background: #fff;
}
.login-active-logo-image {
  height: 15vh;
  width: 18vh;
  margin-left: 13vh;
  margin-right: 13vh;
}
.button-icon-active {
  margin: 1vh;
}

.login-form-text {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.login-form-field-mobile {
  border: none;
  border-bottom: 3px solid #fc8f9b;
  background: transparent;
  width: 85vw;
  height: 20px;
  margin-left: 1vh;
  font-size: 20px;
}
.login-form-field-mobile:focus {
  outline: none !important;
}
.login-form-text-password {
  font-size: 6vw;
  margin-right: 32vh;
}
.login-form-text-name {
  font-size: 6vw;
  margin-right: 25vh;
}
