.btn-product {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 18px;
  padding: 15px 25px;
  background-color: #fc8f9b;
  border-radius: 8px;
}
.btn-product:focus {
  outline: none !important;
}
.buttonProduct {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}
.priceProduct {
  display: flex;
  flex-direction: column;
}
