.main-div {
  background: #f2f2f2;
}

.main-div-container {
  display: flex;
  margin: auto 4vw;
  padding: 30px 0;
}

/* 
@media screen and (max-width: 500px) {
  .main-div {
    display: grid;
    grid-template-columns: auto;

    align-items: start;
    justify-items: center;
    background-color: #e5e5e5;
  }
}

@media screen and (min-width: 800px) {
  .main-div {
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-areas: "left-div . right-div";
    align-items: start;
    justify-items: center;
    background-color: #e5e5e5;
  }
} */

.left-div {
  width: 20%;
}

.right-div {
  width: 80%;
}

.main-container-animal {
  margin-left: 20px;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-column {
  margin: 0 5px 20px 5px;
  width: 30%;
}

.navigation-mark {
  background-color: #fc8f9b;
  width: 100%;
  text-align: center;
}

.navigation-mark h1 {
  color: white;
  font-size: 2.2em;
  margin: 0;
  padding: 10px;
}

@media screen and (max-width: 1250px) {
  .navigation-mark h1 {
    font-size: 2em !important;
  }
}

@media screen and (max-width: 1100px) {
  .container-column {
    width: 45%;
  }
  .navigation-mark h1 {
    font-size: 1.8em !important;
  }
}

@media screen and (max-width: 830px) {
  .main-div-container {
    display: flex;
    flex-direction: column;
  }
  .left-div {
    width: 100%;
  }
  .right-div {
    width: 100%;
  }
  .container-column {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .main-container-animal {
    margin-left: 0;
  }
}

.left-div-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.filter {
  background-color: white;
}
p {
  font-family: "Roboto", sans-serif;
  color: #3f3f3f;
}
.cat .dog {
  display: hidden;
}
.cancel-blog {
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  outline: none;
  font-size: 18px;
  padding: 5px 8px;
  border-radius: 8px;
  margin: 10px 170px !important;
  background-color: #7e7e7e;
  margin-left: 20vh;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.cancel-blog:hover {
  background-color: #525252;
}
.cancel-blog:focus {
  outline: none !important;
}
