:root {
  --smallerDevicesMaxWidth: 210px;
  --maxWidth: 400px;
  --minWidth: 301px;
  --maxHeight: 600px;
  --mainColor: #fc8f9b;
}

.navbar {
  background-color: var(--mainColor);
  max-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  flex-direction: row;
}

.logo-image {
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 28px;
  justify-content: center;
}

.cart-button {
  overflow: visible;
  cursor: pointer;
  margin: 20px;
  color: white;
  margin-left: -20px;
  background-color: #fc8f9b;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.cart-button:focus {
  outline: none !important;
}

.login-button {
  height: 80px;
  margin-right: -20px;
  background-color: #e77f8a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease-in-out 0s;
}

.login-button:hover {
  background-color: #ffb5b5;
}

.login-button:focus {
  outline: none !important;
}

@media only screen and (max-width: 650px) {
  .header-buttons {
    display: none !important;
  }
}

/* 
@media (min-width: minWidth) and (min-height: maxHeight) {
  .navbar {
    height: 72px;
  }
} */

/* NEW WORKING AND RESPONSIVE CSS */
.navbar {
  background-color: var(--mainColor);
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.svg-menu {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  height: 35px;
}

.menu-button {
  margin-left: 10px;
}

.nav {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #ffb5b5;

  left: 0;
  min-height: 65px;
  max-height: 65px;
  transition: all 0.3s ease-in-out 0s;
}

nav.show {
  z-index: 999;
  width: 100%;
  display: flex;
}

.triangle {
  top: 14px;
  height: 40px;
  position: absolute;
}

.menu-items {
  font-family: "Roboto", sans-serif;
  flex-direction: row;
  display: flex;
  width: 70%;
  margin: 0;
  padding: 20px;
  justify-content: space-evenly;
}

.menu-list {
  list-style: none;
  max-height: 50px;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list a {
  padding: 0;
  font-size: 1em;
  margin: 0;
  transition: all 0.3s ease-in-out 0s;
}

.menu-list:hover {
  border-bottom: 5px solid #e77f8a;
}

.search-menu {
  border: none;
  width: 30%;
  padding: 5px;
}

.search-field {
  padding: 14px;
  font-size: 17px;
  float: left;
  width: 60%;
  background: #ffb5b5;
  border: none;
  margin-top: 0px;
  margin-left: 30px;
  color: #ffffff;
  outline: none;
}

@media only screen and (max-width: 850px) {
  .nav {
    max-height: unset;
  }
  .menu-items {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: unset;
  }
  .menu-list {
    margin: 0.3em auto;
    height: 1.6em;
  }
  .search-menu {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .search-field {
    width: unset;
    margin-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .logo-image {
    margin: 0 0 0 0;
    height: 50px;
  }
}
